body{
    background: linear-gradient(to right,#1500ff,#00ccff);
    font-family: Arial, sans-serif;
    color:white;
    text-align: center;
    padding-top:100px;
}
.container{
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius:40px;
    display: inline-block;
}
input {
    padding: 10px;
    width:200px;
    border-radius: 10px;
    border:none;
    margin-right: 10px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #82ff50;
    color: gray;
    cursor: pointer;
}
.weather-info{
    margin-top: 25px;
    font-size: 20px;
}